.slide-menu-select {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #494949;
    margin: 2%;
    border-radius: 15px;
}

.slide-menu-options {
    overflow: hidden;
    background-color: #333333;
    border-radius: 15px;
}

.slide-menu-options.visible {
    transition: all 0.5s ease-in-out;
    max-height: 100vh;
    margin: 4% 2% 4%;
}

.slide-menu-options.invisible {
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    max-height: 0;
    margin: 0 2%;
}

.slide-menu-option {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    border-radius: 15px;
    background-color: #494949;
}

.slide-menu-select-text-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-menu-option-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name, .subname {
    font-size: 1.4em;
    margin: 0;
    font-weight: 700;
}

.subname {
    font-weight: 400;
}

.slide-menu-icon {
    width: 3em;
    margin-left: auto;
    margin-right: 5%;
    transition: all .3s;
}

.slide-menu-icon.down {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.slide-menu-icon.up {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}