/*--------------------NAVBAR SECTION--------------------*/

#stats {
    position: fixed;
    padding: 2% 2% 0;
    width: 100%;
    top: 0;
    left: 0;
}

#stats nav {
    background-color: #2a2a2a;
    border-radius: 15px;
    padding: 3%;
    display: flex;
}

.rank {
    align-self: flex-start;
    margin-left: 5px;
    margin-right: auto;
    flex-grow: 1;
    padding-right: 2%;
}

#username {
    text-transform: none;
    color: #dbd098;
    margin-bottom: 1.4em;
    line-height: 0;
}

#user-rank {
    text-transform: none;
    line-height: 0;
}

.avatar-img {
    margin: auto;
    width: 8em;
    height: auto;
}

#xp-progress {
    display: flex;
    flex-direction: column;
}

.progress-text {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    font-size: 0.6em;
}

progress[value] {
    --color: #adadad;
    --background: #494949;

    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 0.6em;
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

.settings {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
    text-transform: none;
    line-height: 0;
}

.settings div {
    width: 60%;
    background-color: #494949;
    padding: 10%;
    border-radius: 40%;
}

.settings div img {
    width: 100%;
    margin: auto;
    height: auto;
    transition: transform .2s;
}

.settings div img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
