.stats-progress {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 9em;
    left: 0;
    width: 100%;
}

.stats-progress-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-progress-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.stats-header {
    font-weight: 700;
    margin: auto;
}