.rank-places-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.rank-places {
    width: 80%;
}

.rank-choose-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank-choose.selected {
    transition: all .2s;
    filter: brightness(150%);
}

.rank-choose {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    border-radius: 10px;
}

.rank-choose-inner {
    position: relative;
    z-index: 1;
    margin: 0.1em;
    background: inherit;
}

.rank-choose.selected::before {
    content: "";
    display: block;
    background: white;
    height: 400%;
    width: 10%;
    transform: translate(0);
    position: absolute;
    animation: animated-select 5s linear forwards infinite;
    z-index: 0;
    top: 50%;
    transform-origin: top center;
}

@keyframes animated-select {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rank-choose h2 {
    margin: 0 0.5em;
    font-weight: 700;
    font-size: 1.5em;
}

.rank-choose-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank-choose-header {
    border-radius: 10px;
    color: #DCD198;
}

.rank-choose-header h1 {
    font-size: 2em;
    margin: 0;
}