.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
    margin: 2%;
    border-radius: 15px;
    position: relative;
}

.main-content {
    margin-top: 15%;
    margin-bottom: 9em;
    padding: 2%;
}

.select-menu {
    z-index: 2;
}

.category-select {
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    border-radius: 15px;
    background-color: #494949;
}

.category {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.category-name {
    font-size: 1.4em;
    margin: 0;
    font-weight: 700;
}

.subcategory-name {
    font-weight: 400;
}

.arrow-down-icon {
    width: 1.7em;
    transition: all .2s;
}

.arrow-down-icon.down {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.arrow-down-icon.up {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.category-options-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.category-options {
    overflow: hidden;
    position: absolute;
    top: 6em;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    background-color: #333333;
    border-radius: 15px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 4% 2% 2%;
}

.category-options.visible {
    transition: max-height 0.5s ease-in-out;
    max-height: 100vh;
}

.category-options.invisible {
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    max-height: 0;
}

.level-select {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    border-radius: 15px;
    background-color: #494949;
}

.level-text-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level-icon {
    width: 3em;
    margin-left: auto;
    margin-right: 5%;
    transition: all .2s;
}