.scroll-loop-inner {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    scroll-snap-type: x proximity;
}

.scroll-loop-inner::-webkit-scrollbar {
    display: none;
}

.scroll-loop-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.scroll-loop-item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}