/*--------------------FOOTER SECTION--------------------*/

#footer {
    z-index: 1000;
    position: fixed;
    padding: 0 2% 2%;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer {
    text-transform: none;
    border-radius: 15px;
    background-color: #2a2a2a;
    line-height: 0;
}

.scroll-container {
    display: flex;
    padding: 3% 3% 1%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    justify-content: space-between;
    align-items: flex-end;
    scroll-snap-type: x mandatory;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.footer-img-container {
    background-color: #494949;
    padding: 0.4em;
    border-radius: 10px;
}

.footer-item img {
    width: 3.5em;
    height: 3.5em;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 18%;
    scroll-snap-align: center;
    /*margin: 0.5em;*/
}

.selected {
    text-transform: uppercase;
    filter: brightness(125%);
    color: #dbd098;
}
