body {
    margin: 0;
    background-color: #1b1b1b;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    font-size: 3vw;
    color: #adadad;
}

* {
    box-sizing: border-box
}

.line {
    position: absolute;
    background-color: #c3c5c8;
    margin: auto;
    width: 100%;
    height: 5%;
    filter: blur(50px);
    z-index: -1;
}

.line-top {
    top: 20%;
}

.line-bottom {
    bottom: 20%;
}

.link {
    cursor: text;
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.link:hover {
    cursor: pointer;
    filter: brightness(125%);
    transform: scale(1.1);
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
    margin: 2%;
    border-radius: 15px;
    position: relative;
}

.content-container.light {
    background-color: #494949;
    padding: 2%;
}

.no-footer-overlap {
    margin-bottom: 9em;
}

.overlap {
    z-index: 2;
}