body {
  margin: 0;
  background-color: #1b1b1b;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 9pt;
  color: #adadad;
}

* {
  box-sizing: border-box
}

.line {
  position: absolute;
  background-color: #c3c5c8;
  margin: auto;
  width: 100%;
  height: 10%;
  filter: blur(100px);
  z-index: -1;
}

.line-top {
  top: 15%;
}

.line-bottom {
  bottom: 15%;
}
