progress[value] {
    --color: #adadad;
    --background: #494949;

    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 0.6em;
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}